html{
    scroll-behavior: smooth;
}

body{
    color: #212D40;
    display: none;
    font-family: 'Josefin Sans', sans-serif;
}
  a{
    color:#212D40;
    font-family: 'Josefin Sans', sans-serif;
}

li a:link, a:visited, a:active{
    text-decoration: none;
    color:#212D40;
}

h5 a{
    text-decoration: none;
    color: #212D40;
}

 h5 a:hover{
    text-decoration: none;
    color:#E78F8E;
}

  img{
      max-width: 15%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;

  }
  #pinkbox{
      height: 10px;
      width: 100vw;
      background-color: #7D4E57;
      padding-top: -7%;
      margin-top: 7%;
      position: absolute;
      z-index: -10;
  }

  h1{
    text-align:center;
    font-size: clamp(40px, 6vw, 60px);
    margin-bottom: 1%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    color: #7D4E57;
    text-decoration: underline;
    text-decoration-color: #7D4E57;
    background-color: #E6E8E8;
  }
  h1 a:hover {
    font-style: oblique;
    text-decoration: underline;
    color: #212D40;
    text-decoration-color: #7D4E57;
  }
  h3{
      margin-top: 1%;
      text-align: left;
      font-size: 4vw;
      font-style: italic;
      margin-bottom: 1%;
      margin-left: 5%;
      color: #7D4E57;
      /* text-decoration: underline;
      text-decoration-color: #7D4E57; */
      }
h3:target{
        padding-top: 55px;
        margin-top: -55px;
}
  h5{
      color: #16262E;
      font-size: 3vw;
      margin-left: 5%;
      margin-top: 2%;
      margin-bottom: 1%;
  }

  p {
      text-align: left;
      margin-left: 8%;
      font-size: 2vw;
  }
 
  ul{
    display:table;
    table-layout: fixed;
    width: 60%;
    margin: auto;
    list-style-type: none;
    font-size: clamp(20px, 2.5vw, 30px);
  }
  
  ul.list{
    padding: 0.5%;
    padding-bottom: 2%;
  }

  li{
      display: table-cell;
      text-align: center;  
  }
  li a:link, a:visited, a:active{
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #212D40;
      

  }
  li a:hover{
      background-color: #E78F8E;
      font-style: oblique;
      color: #212D40;
  }


  .float-left-area  {
    width: 20%;
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 40px;

    }

.float-right-area {
    width: 80%;
    float: left;
    }

.inner-left	  {
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    min-height: 60px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #7D4E57;
    }

.inner-left p	  {
    padding: 4px;
    font-size: 3vw;
    }

.inner-left p:hover	  {
    padding: 4px;
    background-color: #E78F8E;
    font-style: oblique;
    }

.inner-left p a:hover	  {
    color: #212D40;
}
.inner-left a:link, a:visited, a:active{
    text-decoration: none;
    color:#212D40;
}
.inner-right	  {
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    min-height: 60px;
    }

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }

.row{
    display: flex;
    margin-top: 15px;
    padding-top: 10px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.index h3{
    text-align: center;
    margin-bottom: 5px;
}

body p{
    font-size: clamp(20px, 2vw, 30px);
    margin-left: 0px;
    padding-left: 30px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 0px;
}

body p a:hover	  {
    color: #E78F8E;
}
body a:link, a:visited, a:active{
    text-decoration: none;
    color:#212D40;
    font-style: oblique;
}

#column2{
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #7D4E57;
}

iframe{
    height: 50vw;
    width: 40vw;
    margin-top: 15px;
    max-height: 400px;
    max-width: 400px;
}

.social-media-list {
    margin-top: 2vw;
    list-style: none;
    text-align: center;
}

.social-media-list li {
    display: inline-block;
    margin-right: 1em;
    font-size: 180%;
}

.social-media-list li a {
    color: #212D40;
    transition: color 0.30s;
}

.social-media-list li a:hover {
    background-color: transparent;
    color: #E78F8E;
}

footer{
    background-color: #7D4E57;
}

#contact{
    font-size: 30px;
}

.contact h5{
    text-align: center;
}

.contact a:hover{
    color: #E78F8E;
    display: inline-block;
}