html{
    scroll-behavior: smooth;
}

body{
    color: #16262E;
    display: none;
    font-family: 'Josefin Sans', sans-serif;
}
  a{
    color:#16262E;
    font-family: 'Josefin Sans', sans-serif;

}
a:link, a:visited, a:active{
    text-decoration: none;
    color:#3C7A89;
}
 a:hover{
    text-decoration: none;
    color:#DFBBB1;
}

  img{
      max-width: 15%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;

  }
  #pinkbox{
      height: 10px;
      width: 100%;
      background-color: #DFBBB1;
      padding-top: -7%;
      margin-top: 7%;
      position: absolute;
      z-index: -10;
  }

  h1{
    text-align:center;
    font-size: 6vw;
    margin-bottom: 1%;
    color: #3C7A89;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    text-decoration: underline;
    text-decoration-color: #DFBBB1;
    background-color: #F4E9CD;
  }
  h1 a:hover {
    font-style: oblique;
    color: #3C7A89;
    text-decoration: underline;
    text-decoration-color: #DFBBB1;
  }
  h3{
      margin-top: 1%;
      text-align: left;
      font-size: 4vw;
      font-style: italic;
      margin-bottom: 1%;
      margin-left: 5%
      }
h3:target{
        padding-top: 55px;
        margin-top: -55px;
}
  h5{
      color: #3C7A89;
      font-size: 3vw;
      margin-left: 10%;
      margin-top: 2%;
      margin-bottom: 1%;
  }

  p {
      text-align: left;
      margin-left: 12%;
      font-size: 2vw;
  }
 
  ul{
    display:table;
    table-layout: fixed;
    width: 60%;
    margin: auto;
    list-style-type: none;
    font-size: 2.5vw;

  }
  
  ul.list{
    padding: 0.5%;
    padding-bottom: 2%;
  }

  li{
      display: table-cell;
      text-align: center;  
  }
  li a{
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #3C7A89;
      

  }
  li a:hover{
      background-color: #DFBBB1;
      font-style: oblique;
      color: #3C7A89;

  }


  .float-left-area  {
    width: 20%;
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 40px;

    }

.float-right-area {
    width: 80%;
    float: left;
    }

.inner-left	  {
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    min-height: 60px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #3C7A89;
    }

.inner-left p	  {
    padding: 4px;
    font-size: 3vw;
    }

.inner-left p:hover	  {
    padding: 4px;
    background-color: #DFBBB1;
    font-style: oblique;
    }

.inner-left p a:hover	  {
    color: #3C7A89;
}

.inner-right	  {
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    min-height: 60px;
    }

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }